{# note : La barre de navigation Horizontale que l'on retrouve dans nos vues,
          Le choix de la séparer est volontaire, et on va l'inclure au besoin
 #}
<div class="header">
    <div class="row vertical-align">
        <div class="col-md-4">
            <a href="{{ path('gsb_principal_accueil') }}"><h1><img src="{{ asset('img/logo.jpg') }}" class="img-responsive" alt="Laboratoire Galaxy-Swiss Bourdin" title="Laboratoire Galaxy-Swiss Bourdin"></h1></a>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-pills pull-right" role="tablist">

                <li><a href={{ path('gsb_principal_index') }}>Accueil</a></li>
                {% if is_granted('ROLE_VISITEUR') %}
                    <li><a href={{ path('saisieFrais') }}><span class="glyphicon glyphicon-pencil"></span> Renseigner la fiche de frais</a></li>
                    <li><a href={{ path('etatFrais') }}><span class="glyphicon glyphicon-list-alt"></span> Afficher mes fiches de frais</a></li>
                {% elseif is_granted('ROLE_COMPTABLE') %}
                    <li><a href={{ path('validFrais') }}><span class="glyphicon glyphicon-pencil"></span> Valider les fiches de frais</a></li>
                    <li><a href={{ path('suivreFrais') }}><span class="glyphicon glyphicon-list-alt"></span> Suivre les fiches de frais</a></li>
                {% elseif is_granted('ROLE_SUPER_ADMIN') %}
                    <li><a href={{ path('validFrais') }}><span class="glyphicon glyphicon-pencil"></span> Valider les fiches de frais</a></li>
                    <li><a href={{ path('validFrais') }}><span class="glyphicon glyphicon-pencil"></span> Valider les fiches de frais</a></li>
                    <li><a href={{ path('validFrais') }}><span class="glyphicon glyphicon-pencil"></span> Valider les fiches de frais</a></li>
                    <li><a href={{ path('validFrais') }}><span class="glyphicon glyphicon-pencil"></span> Valider les fiches de frais</a></li>
                    <li><a href={{ path('validFrais') }}><span class="glyphicon glyphicon-pencil"></span> Valider les fiches de frais</a></li>
                    <li><a href={{ path('validFrais') }}><span class="glyphicon glyphicon-pencil"></span> Valider les fiches de frais</a></li>
                    <li><a href={{ path('validFrais') }}><span class="glyphicon glyphicon-pencil"></span> Valider les fiches de frais</a></li>

                {% endif %}
                <li><a href={{ path('fos_user_security_logout') }}>Déconnexion</a></li>
            </ul>
        </div>
    </div>
</div>