{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
            <h1>Modification d'un élément hors forfaits</h1>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn btn-success" type="submit" value="Modifier le frais "/>
            {{ form_end(edit_form) }}

            <a class="btn btn-warning" href="{{ path('validFrais') }}">Retour à la validation des Frais</a>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
    </div>

{% endblock %}
