{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lignefraishorsforfait</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligneFraisHorsForfait.id }}</td>
            </tr>
            <tr>
                <th>Mois</th>
                <td>{{ ligneFraisHorsForfait.mois }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ ligneFraisHorsForfait.libelle }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if ligneFraisHorsForfait.date %}{{ ligneFraisHorsForfait.date|date('Y-m') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ ligneFraisHorsForfait.montant }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lignefraishorsforfait_index') }}">Voir la liste complète des Frais Hors Forfait</a>
        </li>
        <li>
            <a href="{{ path('lignefraishorsforfait_edit', { 'id': ligneFraisHorsForfait.id }) }}">Supprimer</a>
        </li>
    </ul>
{% endblock %}
