{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lignefraishorsforfait</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligneFraisHorsForfait.id }}</td>
            </tr>
            <tr>
                <th>Mois</th>
                <td>{{ ligneFraisHorsForfait.mois }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ ligneFraisHorsForfait.libelle }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if ligneFraisHorsForfait.date %}{{ ligneFraisHorsForfait.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ ligneFraisHorsForfait.montant }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lignefraishorsforfait_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lignefraishorsforfait_edit', { 'id': ligneFraisHorsForfait.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
