{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fraisforfaits list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fraisForfait in fraisForfaits %}
            <tr>
                <td><a href="{{ path('fraisforfait_show', { 'id': fraisForfait.id }) }}">{{ fraisForfait.id }}</a></td>
                <td>{{ fraisForfait.libelle }}</td>
                <td>{{ fraisForfait.montant }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fraisforfait_show', { 'id': fraisForfait.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('fraisforfait_edit', { 'id': fraisForfait.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fraisforfait_new') }}">Create a new fraisForfait</a>
        </li>
    </ul>
{% endblock %}
